/* Created By Robins Gupta */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

.react-calendar-timeline{
    font-family: 'Lato', sans-serif;
    color: #707070;
    
}

.rct-sidebar{
    font-size: 11px;
}

.rct-label{
    font-size: 11px !important;
    font-weight: 600;
    color: #707070 !important;
}

.react-calendar-timeline .rct-items .rct-item.analysis {
    background-color: #68efad;
}

/* Odd ROw */
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd{
    background-color: #fff;
}

.react-calendar-timeline .rct-sidebar-header{
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
    color: #000000;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #ddd;
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    padding-left: 7px;
    height: 23px;
    line-height: 23px;
}

.react-calendar-timeline .rct-sidebar{
    border-right: solid 0.3px #f3f3f3;
}

.rct-sidebar-row-odd{
    background: #ffffff !important;
}

.rct-sidebar-row{
    border-bottom: 1px solid #eeeeee !important;
    border-right: 1px solid #ddd;
    padding-left: 7px !important;
    
}


/* style for displaying vertical lines for Sat and Sun column */
.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-6, .react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-0{
    background-color: rgba(250, 246, 225, 0.2)
}

.react-calendar-timeline .rct-vertical-lines .rct-vl {
    position: absolute;
    border-left: 1px solid #eee;
    z-index: 30;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-even, .react-calendar-timeline .rct-horizontal-lines .rct-hl-odd{
    border-bottom: 1px solid #eeeeee !important;
}


.react-calendar-timeline .rct-header .rct-label {
    border-left: 1px solid #eee;
    color: #707070;
    background: #ffffff;
    border-bottom: 1px solid #eee;
}

.react-calendar-timeline .rct-item .rct-item-content{
    padding: 0;
    width: inherit;
}


.gantt-chart-item-container{
    width: inherit;
}


/* GroupRenderer Component */
.gantt-chart-group-wrapper{
    background: #ffffff;
}


.gantt-chart-group-title{
    font-family: Lato;
    font-size: 10px;
    font-weight: 500;
    text-align: left;
    color: #707070;
    padding-left: 8px;
}


.gantt-chart-group-item{
    border-radius: 24px;
    /* background-color: #ffc16233;
    border: 1px solid #e9b15a33 !important; */
}


/* Item Renderer */
.gantt-chart-item-title{
    /* width: 50px; */
    width: calc(100% - 38px);
    display: inline-block;

}

/* Item Renderer ICON */
.gantt-chart-item-icon{
    font-size: 15px;
    width: 18px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    background-color: #e2ab5833;
    border-radius: 17px;
    display: inline-block;
    height: 18px;
}

.gantt-chart-item-icon.left{
    cursor: w-resize;
}

.gantt-chart-item-icon.right{
    cursor: e-resize;
}

.gantt-chart-item-icon.pending{
    font-size: 16px;
    color: #111;
    background-color: #e2ab5833;
    border-radius: 19px;
}

/* Info Label on Scroll display */
.rct-infolabel{
    display: none;
    visibility: hidden;
}


/* END GroupRenderer Component */