/* Created By Nikita Mittal */

.task-list-heading-container{
    width: 100%;
    padding: 15px;
    border-style:solid;
    border-width: 0px 0px 0.5px 0px;
    border-color: #eee;
    
}

.task-list-heading-container:hover{
    background: rgba(197, 175, 247, 0.2)
}

.task-list-heading-container:hover .task-list-heading-drag-icon{
    display: block;
}

.task-list-heading-drag-icon{
    color: #707070;
    display: none;
    margin-left: 8px;
}

.task-list-heading-drag-container{
    display: inline-block;
    width: 3%;
}

.task-list-heading-icon{
    display: inline-block;
    width: 3%;
    cursor: pointer;
}

.task-list-heading-title{
    display: inline-block;
    width : 47%;
    font-size: larger;
    padding-left: 5px;
    font-weight: 600;
}

.task-list-heading-archive-container{
    display:inline-block;
    width : 29%;
    color: #707070;
    font-weight: bold;
    text-align: right;
    font-size: 12px;
}

.task-list-heading-archive-container:hover{
    cursor: pointer;
}

.task-list-heading-add-new-container{
    display:inline-block;
    width : 15%;
    color: #707070;
    font-weight: bold;
    text-align: right;
    margin-left: 10px;
    font-size: 12px;
}

.task-list-heading-add-new-container:hover{
    cursor: pointer;
}

/************************************ END OF HEADING CSS *****************************************/

.task-list-item-container{
    width: 100%;
    height: 50px;
    line-height: 30px;
    display: inline-block;
}

.task-list-item-container:hover{
    cursor: pointer;
    background: rgba(197, 175, 247, 0.2)
}

.task-list-item-container:hover .task-list-item-drag-icon{
   display: block;
}

.task-list-item-drag-icon{
    color: #707070;
    display: none;
    margin-left: 8px;
}

.task-list-item-side-line{
    display: inline-block;
    width: 5%;
    text-align: center
}

.task-list-item-icon{
    display:inline-block;
    width: 5%;
}

.task-list-item-title{
    display: inline-block;
    width: 40%;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}


.task-list-item-status{
    display: inline-block;
    width: 30%;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.task-list-item-sub-task-attachment-container{
    display: inline-block;
    width: 30%;
    font-size: 12px;
    font-weight: 500;
    color: #9e9e9e;
}

.task-list-item-tags-container{
    display: inline-block;
    width: 20%;
    text-align: center
}

.task-list-item-date-container{
    display: inline-block;
    width: 20%;
    font-size: 12px;
    font-weight: 500;
}
